*{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	background: url("../_img/bg.jpg") no-repeat;
	background-size: 100%;
}
	
#wrap{
	width: 700px;
	margin: 0 auto;
	background: rgba(255, 255, 255, .4);
	transition: .5s;
}

#wrap:hover{
	background: rgba(200, 200, 200, .8);
}

div h1{
	padding: 10px;
	background: rgba(0, 0, 0, .8);
	color: #fff;
}

#wrap form{
	padding: 20px;
}

#wrap form ul{
	list-style: none;
}

#wrap form ul li{
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	display: inline-block;
	padding: 5px 58px;
	cursor: pointer;
	transition: .5s;
}

#wrap form ul li:hover{
	background: rgba(255, 255, 255, .8);
}

/* First tab */
#btn_tab0{
	background: rgba(255, 255, 255, .8);
}

#wrap form ol{
	list-style: none;
}

#wrap form ol li{
	padding: 20px;
	transition: .5s;
	background: rgba(255, 255, 255, .4);
}

#wrap form ol li:hover{
	background: rgba(255, 255, 255, .8);
}

#wrap form ol li input, #wrap form ol li select{
	background: #fff;
	border: 1px solid #000;
	padding: 7px;
}

#wrap form ol li textarea{
	background: #fff;
	border: 1px solid #000;
}

#wrap form fieldset{
	border: none;
}

#wrap form fieldset input{
	border: 1px solid #000;
	background: #fff;
	padding: 10px;
	margin-left: 45%;
	transition: .3s;
}

#wrap form fieldset input:hover{
	background: #efefef;
}

#notice{
	padding: 20px;
	text-align: center;
	color: #f00;
}